:root {
    --green-color: #069c54;
    --green-color-alt: #21ba45;
}

* {
    margin: 0;
    padding: 0;
    appearance: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* REUSABLE CLASSES */

.button-group {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.6rem;
}

.text-muted {
    color: #555;
}

.offer-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 7px;
    border: 1px solid orange;
    color: #ae4804;
    background-color: #f1a66150;
    border-radius: 6px;
    font-size: 0.85rem;
}

.kg-label {
    background-color: #eee;
    padding: 1px 3px;
    height: fit-content;
    border-radius: 5px;
    font-size: 0.78rem;
    color: #757575;
    border: 1px solid #aaa;
}

/* TOPBAR */

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1;
}

.topbar.header {
    border-bottom: 1px solid #eee;
}

.right {
    display: flex;
    gap: 2rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.menu a {
    text-decoration: none;
    color: #444;
    font-size: 0.95rem;
    transition: color 300ms ease;
}

.menu a:hover {
    color: var(--green-color);
}

/* TOPBAR LOGO */

.logo {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
}

.brand {
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
}

/* CART */

.cart {
    padding: 0.7rem 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border-radius: 32px;
    transition: background-color 300ms ease;
    font-weight: 600;
    color: #222;
}

.cart:hover {
    background-color: #eee;
    cursor: pointer;
}

/*FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
}

.footer-row {
    padding: 3rem 0;
    display: flex;
    gap: 5rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.footer-column .column-title {
    font-weight: 600;
    color: #222;
}

.footer-column ul li {
    padding: 0.12rem;
    font-size: 0.9rem;
    color: #333;
    transition: color 300ms ease;
}

.footer-column ul li:hover {
    color: var(--green-color);
    cursor: pointer;
}

.brand-column {
    color: #222;
}

.brand-column .logo {
    margin: 0;
    padding: 0.5rem 0;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

.social-links .social-item {
    display: flex;
    align-items: center;
    gap: 0.15rem;
    font-size: 0.84rem;
    color: #222;
    text-decoration: none;
    transition: color 300ms ease;
}

.social-links .social-item svg {
    transform: scale(0.9);
    fill: #222;
    transition: fill 300ms ease;
}

.social-links .social-item:hover {
    color: var(--green-color);
}

.social-links .social-item:hover svg {
    fill: var(--green-color);
}

.footer-credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: #777 !important;
    font-size: 0.88rem;
}

.footer-credits a {
    text-decoration: none;
    color: var(--green-color);
}

.footer-developer {
    background-color: #eee;
    padding: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    font-size: 0.88rem;
}

.footer-developer a {
    color: var(--green-color);
    text-decoration: none;
    font-weight: 600;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
    padding: 2rem 4rem 2rem 5rem;
    border-bottom: 1px solid #eee;
}

.hero .slogans {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.hero .slogans h1 {
    font-size: 3.8rem;
}

.hero .slogans p {
    color: #333;
}

/* BUTTONS */

.btn {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
    border-radius: 7px;
    gap: 0.14rem;
    transition: all 300ms ease;
}

.btn:hover {
    cursor: pointer;
}

.primary-btn {
    padding: 0.5rem 0.8rem 0.5rem 1.2rem;
    background-color: var(--green-color-alt);
    color: white;
    border: 1px solid var(--green-color-alt);
}

.primary-btn:hover {
    filter: brightness(1.1);
}

.secondary-btn {
    padding: 0.5rem 0.8rem 0.5rem 1.2rem;
    background-color: transparent;
    color: #222;
    border: 1px solid #222;
}

.secondary-btn:hover {
    background-color: #eee;
}

/* OFFERS LAYOUT */

.offers {
    padding: 4rem 1.5rem 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.offers h1 {
    font-size: 2rem;
}

.offers-grid {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* PRODUCT CARD */

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 300ms ease;
    text-decoration: none;
    color: #111;
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 12px;
}

.product-card .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.muted-price {
    text-decoration: line-through;
    color: #777;
    font-size: 0.75rem;
}

.price {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 0.35rem;
    color: #111;
    font-weight: 600;
    margin-top: -5px;
}

.product-card .offer-tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* STORE */

.store {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 7rem;
    gap: 3rem;
}

.store h1 {
    font-size: 2rem;
}

.store .store-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 3rem;
}

/* PRODUCT DETAIL */

.product-detail {
    display: flex;
    flex-direction: column;
    margin: 7rem 20rem;
    gap: 2rem;
}

.product-detail.not-found {
    margin: 6rem 20rem;
    justify-content: center;
    align-items: center;
}

.product-detail.not-found h1 {
    color: #444;
}

.product-detail article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-detail h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.product-detail p {
    font-size: 0.9rem;
    color: #111;
}

.product-detail table {
    font-size: 0.9rem;
    border: 1px solid #eee;
    border-radius: 8px;
    border-spacing: 0;
}

.product-detail table tr td {
    padding: 0.7rem 1rem;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.product-detail table tr:last-child td {
    border-bottom: 0;
}

.product-detail table tr td:first-child {
    font-weight: 600;
    color: #111;
}

.product-detail table tr td:last-child {
    border-right: 0;
}

.product-detail .product-data {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.product-detail .product-data img {
    border-radius: 1rem;
}

.product-data .product-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-data .product-right .price {
    font-size: 2.5rem;
    gap: 0.7rem;
}

.product-data .product-right .add-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

/* NUMBER INPUT */

.input-container {
    display: flex;
}

.input-container input {
    outline: none;
    border: 1px solid #ddd;
    padding: 0 0.5rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.input-btn {
    border: 1px solid #ddd;
}

.input-btn svg {
    fill: #666;
    transform: scale(0.78);
}

.input-btn.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.input-btn.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
